body{
    margin: 0;
    padding: 0;
    background-color: rgb(14, 12, 21);
    font-family: monospace;
    color: aliceblue;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: 0.5px solid rgb(110, 101, 114,0.5);
    z-index: 999;
}
.head-left{
    display: flex;
    align-items: center;
}
.head-left img{
    height: 45px;
    margin-right: 15px;
}
header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;

}
header ul li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: gray;
    font-weight:900;
    font-size: 15px;
    transition: 0.3s;
}
header a:hover{
    color: aliceblue;
    text-shadow: 0 0 15px white;
}

.button-box{
    position: relative;
    width: 100px;
    height: 45px;
    margin-left: 25px;
    background: linear-gradient(to right,#00aaa7,#7f42a7,#6600c5,#1f2b9c,#0099ff,#00aaa7);
    border-radius: 10px;
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    clip-path: polygon(20% 0%, 80% 0%, 100% 33%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 0);
}
@keyframes animationGradient{
    to{
        background-position: 200% ;
    }
}
.head-right button{
    position: absolute;
    inset: 3px 3px 3px 3px;
    border: none;
    background-color: rgb(14, 12, 21);
    color: lightgray;
    border-radius: 10px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 33%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 0);
    cursor: pointer;
    transition: 0.3s;
}
.head-right button:hover{
      color: #7e00d2;
}
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150vh;
    overflow: hidden;
}
.hero-blur{
    position: absolute;
    width: 100%;
    top: -15%;
}
.hero-rings{
    position: absolute;
    height: 90%;
    top: 90px;
    opacity: 0.4;
}
.hero-icons{
    width: 100%;
    position: absolute;
    top: 8%;
}
.hero h1{
    position: absolute;
    top: 10%;
    font-size: 40px;
    max-width: 1000px;
    text-align: center;
    color: white;
}
.hero h3{
    position: absolute;
    top: 22%;
    font-size: 20px;
    max-width: 700px;
    text-align: center;
    color: gray;
}
.hero button{
    position: absolute;
    top: 30%;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    clip-path: polygon(20% 0%, 80% 0%, 100% 33%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 0);
    transition: 0.3s;
}

.hero button:hover{
    opacity: 0.7;
    color: #7e00d2;
}
.hero-img-box{
    margin-top: 300px;
    position: relative;
    width: 1000px;
    height: 550px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(to right,#00aaa7,#7f42a7,#6600c5,#1f2b9c,#0099ff,#00aaa7);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
}
.hero-img-box .robot{
    width: 98.5%;
    height: 98%;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}
.hero-img-box .robot img{
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;

}
.hero-img-box .robot .robot-header{
    height: 30px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.parallax{
    transition: transform 1s linear;
}

.singin{
    position: fixed;
    top: 60%;
    width: 30%;
    height: 60vh;
    opacity: 0;
    filter: blur(10px);
}
.singin-page{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 12, 21);
    box-shadow: 0 0 15px rgb(255, 255, 255, 0.432);
    border-radius: 20px;

}
.singin h1{
    font-size: 40px;
    font-weight: bold;

}
.singin input{
    padding: 7.5px 30px;
    background-color: lightgray;
    width: 60%;
    height: 35px;
    border: none;
    outline: none;
    clip-path: polygon(0 0 , 93% 0%, 100% 43%, 100% 80%, 100% 99%, 0 100%, 0% 80%, 0 20%);
    border-radius: 5px;
    margin-bottom: 5%;
}
.singin-page button{
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: #7e00d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;

}
.singin-page p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.singin-page div{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}
.singin-page div:hover{
    opacity: 0.7;

}
.open{
    animation: opensingin 0.7s forwards ;

}@keyframes opensingin{
    to{
        filter: blur(0);
        opacity: 1;
        top: 30%;
    }
}
.closee{
    animation: closein 0.7s forwards;
}
@keyframes closein{
    from{
        filter: blur(0);
        opacity: 1;
        top: 30%;
    }
    to{
        filter: blur(10px);
        opacity: 0;
        top: 60%;
    }
}
.list{
    display: flex;
    justify-content:space-between;
    position: absolute;
    align-items: center;
    width: 100%;
     bottom: 0;
}
.company{
    display: flex;
    align-items: center;

}
.company img{
    height: 50px;
    margin-right: 10px;
}
@media (max-width:730px) {
     .container ul{
        display: none;
     }
     .head-right a{
       display: none;
     }
    

}
